/* HEADER STYLES */

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--edgeSpacing);
}

.header>h1 {
    margin-right: auto;
}

.header button:nth-child(2) {
    margin: 0px 10px;
}