.toggleContainer {
    background-color: var(--secondary);
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: var(--edgeSpacing);
    margin-bottom: var(--marginBottom);
    border-radius: 50px;
}

.toggleContainer:active {
    background-color: var(--active);
}


.toggleContainer h2 {
    z-index: 1;
    padding: 10px 15px;
}

.selector {
    background-color: var(--accentColor);
    border-radius: 50px;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0%;
    transform: translate(-50%, 0%);
    transition: all .2s ease-out;
}

.active {
    transform: translate(50%, 0%);
}