.toggleContainer {
    background-color: var(--secondary);
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: var(--edgeSpacing);
    padding: 10px 0px;
    border-radius: 50px;
}

.toggleContainer h2 {
    z-index: 1;
}

.selectorContainer {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    transition: all .2s;
}

.active {
    justify-content: flex-end;
}

.selector {
    background-color: var(--accentColor);
    border-radius: 50px;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0%;
}