*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --edgeSpacing: 0px 20px;
  --primary: #aaaaaa;
  --secondary: rgb(43, 45, 46);
  --active: #252828;
  --current: #363a3b;
  --accentColor: #3f8dfd;
  --backgroundColor: #1b1a1d;
  --borderRadius: 10px;
  --marginBottom: 25px;
  user-select: none;
  -webkit-user-select: none;
}

body {
  background-color: var(--backgroundColor);
}

h1,
h2,
h3,
p {
  color: white;
}

h1 {
  font-weight: 400;
  font-size: 2rem;
}

h2 {
  font-weight: 300;
  font-size: 1.1rem;
}

h3 {
  font-weight: 200;
  font-size: .8rem;
}

button {
  background-color: var(--secondary);
  height: 45px;
  width: 45px;
  border-radius: 50px;
  border: none;
  display: grid;
  place-items: center;
  text-align: center;
}

button>* {
  width: 45%;
  height: 45%;
  fill: var(--primary);
}