.button {
    height: 45px;
    width: 45px;
    border-radius: 50px;
    border: none;
    background-color: var(--secondary);
}

.header>button>* {
    scale: .4;
    transform: translate(-12%, -15%);
    fill: var(--primary);
}