.button {
    background-color: var(--secondary);
    height: 45px;
    width: 45px;
    border-radius: 50px;
    border: none;

}

.button>* {
    width: 45%;
    height: 45%;
    fill: var(--primary);
}